<div class="container-fluid text-center">
    <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
        <div class="row">
          <div class="col-md-12">
            <h1 class="display-5"> My city name: <%= @city.name%> </h1>
            </div>
        </div>
    </div>
</div>